.footer {
    background-color: #b4a7d6;
    color: #222;
    padding: 25px;
    text-align: center;
    margin: 0;
    border-radius: 15px;
    font-weight: 500;
}

.footer p {
    margin: 5px 0;
    font-size: 16px;
}